$c-orange-dull: #BA5849;
$c-orange-bright: #FF553C;
$c-orange-mid: #FF7C68;
$c-white-dull: #DBC7AB;
$c-white-bright: #FFEED7;
$c-blue-dark: #1B1D20;
$c-blue-lightest: #3B424A;
$c-blue-regular: #212529;
$c-blue-light: #272B2F;
$c-grey: #424344;
$c-red: #DB0839;
$c-neutral: #FAD73C;
$c-success: #2DA954;
$c-white: #FFF;
$c-black: #000;
$c-green: #157B45;
$c-font-green: #42AB3D;
